<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
  <class name="com.atmecs.booikng.testscripts.LoginPageTest"/>
  <class name="com.atmecs.booikng.testscripts.ChooseFlight"/>
  <class name="com.atmecs.booikng.testscripts.SelectFlightPageTest"/>
  <class name="com.atmecs.booikng.testscripts.Flight_Book"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
